body{
  background-color: #15202c;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.app h1 {
  font-size: 35px;
  width: 100%;
  background-color: #1c78b3;
  color: white;
  margin: 0 auto;
  padding: 20px 0px;
}

.result {
  height: 30px;
}

.result div {
  display: none;
  color: white;
  padding: 16px;
}

.result-correct span {
  color: green;
}

.result-wrong span {
  color: red;
}

#empty-message {
  display: none;
  color: white;
}

#empty-message span{
  color: #1c78b3;
}