body{
  background-color: lightgray;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.app h1 {
  font-size: 35px;
  width: 100%;
  background-color: lightslategray;
  color: cyan;
  margin: 0 auto;
  padding: 20px 0px;
}

