.TweetContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.TweetContainer-text {
    background-color:#253342;
    border: 2px #1c78b3 solid;
    border-radius: 12px;
    width: 32%;
    min-height: 150px;
    text-align: left;
}

.TweetContainer-text p {
    color: white;
    margin: 0 auto;
    margin: 25px 15px;
}

.TweetContainer-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.TweetContainer-images img {
    max-height: 315px;
    max-width: 275px;
    border-radius: 24px;
    margin: 12px;
}

.TweetContainer-buttons {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.TweetContainer-button{
    min-width: 120px;
    height: 56px;
    margin: 10px;
    background-color: #15202c;
    border: 2px #1c78b3 solid;
    color: white;
    font-weight: bold;
    border-radius: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    cursor: pointer;
}

.TweetContainer-button:hover{
    background-color: #253342;
}

.TweetContainer-button span {
    color: #1c78b3;
    font-weight: normal; 
}

.TweetContainer-button img {
    border-radius: 100%;
    width: 48px;
    height: 48px;
    margin-right: 8px;
}
