.TweetContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.TweetContainer-text {
    background-color: white;
    border: 2px lightslategray solid;
    border-radius: 12px;
    width: 40%;
    min-height: 150px;
    text-align: left;
}

.TweetContainer-text p {
    margin: 0 auto;
    padding: 10px;
}